@{
    ViewData["Title"] = Global.Titles.Home;
}

@section Styles{
    <link rel="stylesheet" href="~/css/home/index.css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <p>
            Lorem Ipsum Dolor Sit Amet.
        </p>
    </div>
</div>



