@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="prod-index">

    <h1> This is where Producs index is here all products are listed with cards not much info but many products</h1>
    
    <a class="btn btn-info" asp-area="" asp-controller="Products" asp-action="Details">Details of 1 Product</a>

</div>